<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<h3 class="panel-heading">
    <div class="panel-heading-row" data-template-property="panel-heading-row">
        <div class="panel-icon" data-template-property="panel-icon"></div>
        <div class="panel-title" data-template-property="panel-title"></div>
    </div>
    <div class="inspector-editor-hint mt-3 p-2 border border-black rounded-3" style="display: none">
        <core:icon identifier="actions-exclamation-circle" size="small" />
        <span class="text-white fw-bold px-2" data-template-property="fieldExplanationText"></span>
    </div>
</h3>
</html>
